.manager {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.manager-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 100px;
  background: var(--bg3);
}

.manager-shelfs {
  width: 600px;
  margin-top: 20px;
  background: transparent;
  .ant-segmented-item-selected {
    background: var(--bg1);
  }
}

.search-input {
  width: 600px;
  height: 50px;
  .ant-input-affix-wrapper,
  .ant-input-wrapper {
    height: 100%;
  }
  .ant-input-affix-wrapper {
    padding-left: 15px;
    box-shadow: none !important;
    border: none !important;
    border-radius: 25px;
    font-size: 18px;
  }
  .import-btn {
    cursor: pointer;
  }
  .ant-input-group-addon {
    padding-right: 20px;
    border-radius: 25px;
    border: none !important;
    background: #fff;
  }
}

.file-input {
  display: none;
}

@media screen and (max-width: 800px) {
  .manager-header {
    padding: 20px;
    background: var(--bg2);
  }
  .search-input,
  .manager-shelfs {
    width: 100%;
  }
  .search-input {
    height: 40px;
    .ant-input-affix-wrapper {
      font-size: 16px;
    }
  }
}

.manager-books-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
  width: 100%;
  height: 0;
  background: var(--bg2);
}

.manager-books {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px 20px;
  max-width: 1200px;
  width: 80%;
  gap: 30px;
  overflow-y: auto;
}

.book-card {
  position: relative;
  width: 140px;
  background: var(--bg1);
  .book-cover {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 140%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .check-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: var(--pr1);
  }
}

.book-info {
  padding: 10px;
  .book-author,
  .book-title {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .book-author {
    font-size: 12px;
    color: var(--fg2);
    line-height: 14px;
    height: 14px;
  }
  .book-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: var(--fg1);
  }
}

@media screen and (max-width: 800px) {
  .manager-books {
    justify-content: space-between;
    padding-top: 0;
    width: 100%;
    gap: 12px;
  }
  .book-card {
    width: 48%;
  }
}

.book-detail {
  & > * {
    margin-top: 4px;
    line-height: 30px;
  }
}

.manager-operations {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 40px;
  background: var(--bg1);
  z-index: 1;
}

.shelf-menus {
  position: fixed;
  bottom: 50px;
  right: 20px;
}
