.reader,
.reader-wrapper {
  height: 100%;
}

.reader-wrapper {
  width: 80%;
  position: relative;
  overflow: hidden;
  .header,
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
  }
  .header {
    top: 0;
    padding: 0 10px;
    height: 48px;
  }
  .footer {
    bottom: 0;
    height: 80px;
    left: 0;
    background: var(--bg1);
  }
  .prev {
    margin-left: 10px;
  }
  .next {
    margin-right: 10px;
  }
}

.reader-progress {
  margin-left: 10px;
  flex: 1;
}

@media screen and (max-width: 800px) {
  .reader-wrapper {
    width: 100%;
    .footer {
      height: 50px;
    }
  }
}

.dir-container {
  .ant-collapse-item {
    position: relative;
    border-bottom-width: 0;
    &::after {
      content: '';
      position: absolute;
      width: calc(100% - 40px);
      height: 1px;
      left: 20px;
      bottom: 0;
      background: rgba(25, 25, 25, 0.1);
      transform: scaleY(0.5);
    }
  }
  .ant-collapse-expand-icon {
    transform: scale(0.8);
    color: rgba(25, 25, 25, 0.3);
  }
  .ant-drawer-body {
    padding: 0;
    .ant-collapse-content-box {
      padding: 0 40px 10px !important;
    }
  }
  .dir-section {
    line-height: 40px;
    font-size: 16px;
  }
  .dir-chapter {
    font-weight: bold;
    font-size: 18px;
  }
  .ant-drawer-content-wrapper {
    .ant-collapse {
      max-height: 60vh;
      overflow-y: auto;
    }
  }
}
