@import '~/less/index.less';

.reader,
.reader-wrapper {
  height: 100%;
}

.reader-wrapper {
  width: 80%;
  position: relative;
  overflow: hidden;
  .header,
  .footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 0 40px;
    height: 48px;
    background: var(--bg1);
  }
  .footer {
    padding: 0 20px;
    bottom: 0;
    left: 0;
    background: var(--bg1);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    &-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
    }
  }
  .back-home-btn {
    position: absolute;
    left: 5px;
  }
  .book-title {
    font-weight: bold;
    font-size: 14px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.reader-progress {
  .ant-progress-inner {
    width: 40px !important;
    height: 40px !important;
    font-size: 12px !important;
  }
}

@media screen and (max-width: 800px) {
  .reader-wrapper {
    width: 100%;
    .footer {
      &-btns {
        height: 50px;
      }
    }
    .header {
      background: var(--bg2);
    }
  }
}

.dir-container {
  .ant-collapse-item {
    position: relative;
    border-bottom-width: 0;
    &::after {
      content: '';
      position: absolute;
      width: calc(100% - 40px);
      height: 1px;
      left: 20px;
      bottom: 0;
      background: rgba(25, 25, 25, 0.1);
      transform: scaleY(0.5);
    }
  }
  .ant-collapse-expand-icon {
    transform: scale(0.8);
    color: rgba(25, 25, 25, 0.3);
  }
  .ant-drawer-body {
    padding: 0;
    .ant-collapse-content-box {
      padding: 0 40px 10px !important;
    }
  }
  .dir-section {
    line-height: 40px;
    font-size: 16px;
  }
  .dir-chapter {
    font-weight: bold;
    font-size: 18px;
  }
  .ant-drawer-content-wrapper {
    .ant-collapse {
      max-height: 60vh;
      overflow-y: auto;
    }
  }
}

.book-more-btn {
  .float-btn-br();
}
